# Data generation

[submodule "curation"]
	path = curation
	url = https://github.com/opentargets/curation.git
[submodule "gentropy"]
	path = gentropy
	url = https://github.com/opentargets/gentropy.git
[submodule "mira"]
	path = mira
	url = https://github.com/opentargets/mira.git
[submodule "OnToma"]
	path = OnToma
	url = https://github.com/opentargets/OnToma.git


# Pipeline

[submodule "pipeline"]
	path = pipeline
	url = https://github.com/opentargets/pipeline.git
[submodule "pos"]
	path = pos
	url = https://github.com/opentargets/pos.git


# Platform web application

[submodule "platform-webapp"]
	path = platform-webapp
	url = https://github.com/opentargets/platform-webapp.git
[submodule "platform-api"]
	path = platform-api
	url = https://github.com/opentargets/platform-api.git
[submodule "platform-ai-api"]
	path = platform-ai-api
	url = https://github.com/opentargets/platform-ai-api.git
[submodule "platform-deployment-nextgen"]
	path = platform-deployment-nextgen
	url = https://github.com/opentargets/platform-deployment-nextgen.git
